*,
*::before,
*::after {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #635fc7 rgba(255, 255, 255, 0.12);
}

:root {
  --toastify-color-success: #259e29 !important;
  --toastify-color-error: #c84141 !important
;
}
