//color
$primary: #635fc7
$secondary: #f97912

$border: rgba(255, 255, 255, 0.12)
// bg
$sidebar: #2b2c37
$background: #20212c
// text
$textColor: #fff
$secondaryTextColor: #828fa3

$xs: "max-width: 575px"
$sm: "(min-width: 576px) and (max-width: 767px)"
$md: "(min-width: 768px) and (max-width: 991px)"
$lg: "(min-width: 992px) and (max-width: 1199px)"
$xl: "(min-width: 1200px) and (max-width: 1399px)"
$xxl: "(min-width: 1400px)"