:root {
  /* primary color */
  --primary: #635fc7;
  --primary-secondary: #f7f5ff;
  --primary-border: #bcb0f5;
  --primary-hover: #6b68d8;
  --primary-focus: #afa5d1;

  /* danger */
  --danger: #e05b5b;
  --danger-secondary: #FFE8E8;
  --danger-border: #E2B6B6;
  --danger-hover: #e05b5b;
  --danger-focus: #e3a7a7;

  /* success */
  --success: #21725e;
  --success-secondary: #E7FAF5;
  --success-border: #B5D0C9;
  --success-hover: #2b9b7d;
  --success-focus: #C8EBE2;

  /* warning */
  --warning: #d7c32c;
  --warning-secondary: #F9F5D5;
  --warning-border: #F5EFB9;
  --warning-hover: #eed83c;
  --warning-focus: #FCF8CE;

  /* info */
  --info: #3498db;
  --info-secondary: #EBEEFF;
  --info-border: #AAB6F4;
  --info-hover: #4cacf2;
  --info-focus: #E2E7FF;

  /* dark */
  --dark: #000112;
  --dark-secondary: #20212c;
  --dark-border: rgba(54,78,126,0.102);

  /* gray */
  --gray: #2b2c37;
  --gray-secondary: #828fa3;
  --gray-border: #a4a4a4;
  --gray-hover: rgba(103, 103, 103, 0.35);
  --gray-focus: rgba(255, 255, 255, 0.12);


  /* light */
  --white: #FFFFFF;
  --white-secondary: #9d9d9d;
  --white-border: #f4f7fd;

  /* radius*/
  --border-radius: 8px;

  /* height */
  --base-height: 42px;

  /* max-width */
  --max-width-field: 500px;

  /* z-index */
  --z-loader: 10000;
  --z-dropdown: 1000;
  --z-top-listing: 500;
  --z-modal: 2000;
}

.light-mode body {
  /* light theme */

  /* bg */
  --main: var(--white);
  --main-secondary: var(--white-border);
  --overlay: var(--gray-hover);
  --border-base: var(--dark-border);
  --disabled: var(--white-secondary);
  --box-shadow: var(--dark-border);

  /* text color */
  --text: var(--dark);
  --text-secondary: var(--gray-secondary);
  --text-disabled: var(--gray-border);
}

.dark-mode {
  /* dark theme */

  /* bg */
  --main: var(--gray);
  --main-secondary: var(--dark-secondary);
  --overlay: var(--gray-hover);
  --border-base: var(--gray-focus);
  --disabled: var(--white-secondary);
  --box-shadow: var(--dark-border);

  /*text color*/
  --text: var(--white);
  --text-secondary: var(--gray-secondary);
  --text-disabled: var(--gray-border);
  }
